
  <section class="gray-bg section-padding" id="feature-page">



  <div class="container">

    <div class="row">
      <div class="col-md-4">
          <div class="img1">

                         <img class="img-responsive" src="images\img1.jpg" alt="sample108" />


          </div>
      </div>
      <div class="col-md-8 p1">
          <p><strong>Ik wil renoveren!</strong>
Ga voor uw droom, ook al heeft de ruimte die u wilt renoveren misschien niet de perfecte afmetingen. Kies een staal uit onze stalenkaart met tegels, verven en houtsoorten en toon onze expert welke uitvoering u precies wenst. Bespreek met ons elke stap in de uitvoering en krijg advies van experten bij het ontwerp. Is uw budget beperkt? Dan bekijkt Reno Expert met u hoe uw droom in de gekozen ruimte toch zo efficiënt en duurzaam mogelijk kan worden uitgevoerd.
</p>
      </div>
  </div>


  <div class="row">
<div class="col-md-8 p2 kutija1">
       <p>
         <strong>Afmetingen:</strong> gaat het om een bijzondere ruimte, dan bekijken we de kamerafmetingen en ontwerpen we voor uw op maat. Ons bedrijf beschikt over experts in alle sectoren, van sanitair tot elektriciteit, over tegens en hout, tot het schilderen van de muren en meubels. En vergeet niet hoe belangrijk verlichting is! Reno Expert maakt elk detail uit uw droom waar. Een aparte nis, een inloopdouche, een nieuwe betegeling in de gang,  u noemt het en wij spelen het klaar. Wij zijn niet bang van een uitdaging!</p>
   </div>
 <div class="col-md-4 kutija2">
       <div class="img2">

                      <img class="img-responsive" src="images\img4.jpg" alt="sample108" />


       </div>
   </div>
  </div>

  <div class="row">
   <div class="col-md-4">
       <div class="img3">

                      <img class="img-responsive" src="images\img5.jpg" alt="sample108" />


       </div>
   </div>
   <div class="col-md-8 p3">
       <p><strong>Materiaalkeuze:</strong> Wij beschikken over een groot aanbod aan hout- en steenstalen waaruit u uw keuze kan maken. Ons bedrijf heeft medewerkers in dienst die over de nodige expertise beschikken om uw droom tot in het kleinste detail uitwerken. Wij laten u niet in de steek. Van advies tot realisatie, u kunt op ons rekenen.</p>
   </div>
  </div>

  </div>

  </section>
