<footer class="footer-area relative sky-bg overlay" id="contact-page">
  <div class="absolute footer-bg"></div>
  <div class="footer-top">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
          <div class="page-title">
            <h2>Vraag vandaag nog uw offerte aan</h2>
            <p></p>
          </div>
        </div>
      <div class="row">

          <div class="col-lg-6">
            <form role="form" action="http://formspree.io/verkoop@reno-expert.be" method="POST">
              <input type="hidden" name="_next" value="//site.io/thanks.html" />
              <input type="hidden" name="_subject" value="New submission!" />
              <input type="text" name="_gotcha" style="display:none" />

              <div class="form-group">
                <label for="InputName">Naam</label>
                <input type="text" class="form-control" name="name" id="InputName" placeholder="Naam" required>
              </div>
              <div class="form-group">
                <label for="InputEmail">E-mail</label>

                <input type="email" class="form-control" id="InputEmail" name="_replyto" placeholder="E-mail" required>
              </div>
              <div class="form-group">
                <label for="InputMessage">Uw aanvraag</label>

                <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required placeholder="Uw aanvraag"></textarea>
              </div>
              <div class="form-group">
                <label for="InputReal">What is 3+3? (Simple Spam Checker)</label>
                <input type="text" class="form-control" name="InputReal" id="InputReal" required placeholder="Hoeveel is 3+3?">
              </div>
              <input type="submit" name="submit" id="submit" value="Verzenden" class="btn btn-info pull-right">
          </form>
        </div>

        <div class="col-lg-5 col-md-offset-1">
          <address class="side-icon-boxes">
            <div class="side-icon-box sd2">


                                    <div class="side-icon">

                                    </div>
                                    <p><strong>Adres: </strong> Bisschoppenhoflaan 631 <br/>2100 Deurne</p>
                                </div>
                                <div class="side-icon-box sd1">
                                    <div class="side-icon">

                                    </div>
                                    <p><strong>Telefoon: </strong>
                                        <a href="callto:03 298 95 64">03 298 95 64</a> <br />
                                        <a href="callto:0487 77 25 20">0487 77 25 20</a> <br/>
                                        <a href="callto:0473 70 64 73">0473 70 64 73</a> <br/>
                                        <br>
                                        <p><strong>Enkel op afspraak </strong>  </p>
                                </div>
        </address>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 pull-right">
          <ul class="social-menu text-right x-left">
            <li><a href="https://www.facebook.com/Reno-Expert-497218973953954/"><i class="ti-facebook"></i></a></li>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p>&copy;2018 All rights reserved. <!--This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com">Colorlib</a> --> </p>
        </div>
      </div>
    </div>
  </div>
</footer>
