<header class="header-area overlay full-height relative v-center" id="home-page">
  <div class="absolute anlge-bg"></div>
  <div class="container">
    <div class="row v-center">

<div class="col-xs-12 col-md-4">
  <img src="images\398X457W.png" alt="reno expert logo">
  </div>

      <div class="col-xs-12 col-md-8 header-text">



     <h1 class="bahn1">Uw wensen op maat</h1>

        <h3 class="h3">Voor uw renovatie van A tot Z</h3><br>
        <p class="bahn2">
Uw woning van top tot  teen renoveren of uw oude badkamer een nieuwe look geven? Een dressing op maat inrichten? Reno Expert pakt alle opknapwerken aan, van sanitair over elektro, van verwarming tot domotica en brandinstallaties. Vraag hieronder een offerte of maak meteen een afspraak met onze experts. Misschien kunt u vanavond al beginnen met dagdromen over het nieuwe uitzicht.  Door onze jarenlange ervaring met het renoveren van huizen zijn wij inmiddels experts in kleine, middelgrote en grote interieurprojecten. Wij begeleiden u stap voor stap door het proces, van advies over ontwerp en materiaalkeuze tot realisatie. Uiteraard zonder uw budget uit het oog te verliezen. Uw wensen op maat. Daar gaan we voor.
</p>

        <br> <a href="#contact-page" class="button white">OFFERTE</a>
      </div>


    </div>
  </div>
</header>
