<section class="gray-bg section-padding" id="service-page">
  <div class="container services">

    <div class="row">
      <div class="col-xs-12 col-md-7">

        <!-- <h4 id="stap">Wij begeleiden u stap voor stap door het proces, van advies over ontwerp en
materiaalkeuze tot realisatie. Uiteraard zonder uw budget uit het oog te verliezen. Uw wensen op maat.
Daar gaan we voor. </h4> -->



      </div>
    </div>


    <div class="service-container sc1">
      <div class="service-icons">
        <div class="diamond-narrow"></div>
      </div>
      <h1 class="h1-strategie">STAP 1: Advies</h1>
      <p class="p-strategie">U wordt tijdens de volledige uitvoering begeleid. U staat er nooit alleen voor. Vreest u voor het budget, dan kunt u dat met onze adviseurs uitvoerig bespreken en wordt er gekeken naar de verschillende mogelijkheden.
      </p>
    </div>


    <div class="service-container sc2">
      <div class="service-icons">
        <div class="diamond-narrow"></div>
      </div>
      <h1 class="h1-marketing">STAP 2: Ontwerp</h1>
      <p class="p-marketing">U bespreekt met onze medewerkers in de toonzaal wat uw specifieke wensen zijn. U krijgt bezoek van ons projectteam met deskundige technici om de afmetingen van de kamer te nemen en de mogelijkheden van de uitvoering te bekijken. </p>
    </div>


    <div class="service-container sc3">
      <div class="service-icons">
        <div class="diamond-narrow"></div>
      </div>
      <h1 class="h1-design">STAP 3: Materiaalkeuze</h1>
      <p class="p-design">U kiest uit het ruime aanbond van stalen een houtsoort, verfkleur of steenstaal en ons team bespreekt met u de uitvoering ervan. De voor- en nadelen worden bekeken en het ontwerp wordt desnoods wat bijgestuurd. </p>
    </div>


    <div class="service-container sc4">
      <div class="service-icons">
        <div class="diamond-narrow"></div>
      </div>
      <h1 class="h1-ux">STAP 4: Realisatie</h1>
      <p class="p-ux">U geeft het team groen licht. Er wordt een datum vastgelegd. Uw droomproject wordt binnenkort werkelijkheid. Bij de oplevering overloopt u nog eens alle details met onze medewerker en het project wordt met uw toestemming afgesloten. Uw wensen
        op maat hebben eindelijk vorm gekregen. </p>
    </div>


    <div class="service-container sc5">


      <a href="#contact-page" class="button white">OFFERTE</a>



    </div>
      </section>
